.App {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/046/033/original/dominik-schroder-FIKD9t5_5zQ-unsplash.jpg?1662923282");
  background-color: #b0b2cf;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.myGit {
  text-align: center;
  display: block;
  margin: 0 auto;
}
